//font-size
$font-size-huge:10vw;
$font-size-very-big: 30px;
$font-size-big: 22px;
$font-size: 18px;
$font-size-small: 14px;
$font-size-very-small: 10px;
//font-family
@import url('https://fonts.googleapis.com/css?family=Poppins:300,500,700');
$font-main: 'Poppins',
sans-serif;
//font-sizing
$font-light: 300;
$font-bold: 700;
